target/*
!target/aarch64-unknown-linux-musl/
target/aarch64-unknown-linux-musl/*
!target/aarch64-unknown-linux-musl/release/
target/aarch64-unknown-linux-musl/release/*
!target/aarch64-unknown-linux-musl/release/openlineplanner-backend
