@import "@/assets/style/variables.scss";

button, .button {
  font-family: "Poppins";
  border: 1px solid var(--c-button-border);
  background-color: var(--c-button-background);
  border-radius: $br-md;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--c-primary-light);

  &:hover {
    background-color: var(--c-button-background--darkened-light);
  }

  &:active {
    background-color: var(--c-button-background--darkened-strong);
  }

  &--fit {
    width: fit-content;
    padding: $space-ssm $space-sm;
    font-weight: 500;
    font-size: $font-md;
    height: auto;
  }

  &--transparent {
    background-color: transparent;
    border: none;
  }

  &--accent {
    background-color: var(--c-accent-two);
    color: var(--c-text-inverted);
    border-color: var(--c-accent-two-dark);

    &:hover {
      background-color: var(--c-accent-two-dark);
    }
  }

  &:disabled {
    color: var(--c-button-border);
    cursor: default;
    background-color: var(--c-button-background);
  }
}

main {
  display: flex;
  box-sizing: border-box;
  padding: 0 $space-sm $space-sm;
  flex-grow: 1;
  gap: $space-sm;
  max-height: 100%;

  @media (max-width: 700px), (max-height: 600px) {
    display: flex;
    flex-direction: column-reverse;
    max-height: none;
  }
}

.material-design-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background-color: transparent;
  color: var(--c-primary-light);
}

input[type="number"] {
  height: 2.5rem;
  width: 100px;
  text-align: center;
  font-size: $font-md;
  border: none;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  font-size: $font-md;
  padding: 0 1em;
  color: var(--c-primary-light);
  background-color: transparent;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.select-container {
  @extend button;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: auto;
  padding: $space-ssm $space-ssm;
  margin: 0;

  & > span {
    border-right: 1px solid var(--c-button-background);
    padding: $space-ssm;
    & > span {
      display: flex;
      align-items: center;
      height: 1rem;
      padding: 0;
    }
  }

  &--active {
    background-color: var(--c-primary-light);
    color: var(--c-text-inverted);

    select {
      color: var(--c-text-inverted);
    }

    &:hover {
      background-color: var(--c-primary-light);
    }

    &:active {
      background-color: var(--c-primary-light);
    }
    .toggle-button__icon {
      border-right: 1px solid #696969;
    }
  }
}

.station {
  border-radius: 100%;
  border: 2px solid var(--c-primary-light);
  background-color: var(--c-box);
  width: 15px;
  height: 15px;
}

.remove {
  color: red;
}

.tooltip {
  position: fixed;
  background-color: var(--c-primary-light);
  color: var(--c-box);
  border-radius: $br-md;
  padding: $space-ssm;
  font-size: $font-sm;
  white-space: nowrap;
  z-index: 200;
  margin-top: $space-md;
}