$space-elg: 64px;
$space-slg: 48px;
$space-lg: 32px;
$space-md: 24px;
$space-sm: 12px;
$space-ssm: 8px;

$font-lg: 24px;
$font-md: 16px;
$font-sm: 12px;
$font-ssm: $space-ssm;

[data-theme="light"] {
  --c-text-primary: #464646;
  --c-primary-light: #4d4d4d;
  --c-button-background: #f5f5f5;
  --c-button-background--darkened-light: #f0f0f0;
  --c-button-background--darkened-strong: #e0e0e0;
  --c-button-border: #cacaca;
  --c-text-inverted: #ffffff;
  --c-text-inverted--alt: #ffffff;
  --c-accent-one: #464646;
  --c-accent-two: #1B998B;
  --c-accent-three: #FEC80B;
  --c-box: #ffffff;
  --c-box-darkened: #f8f8f8;
  --c-background-primary: #ffffff;
  --c-background-inverted: #464646;
  --bs-md: 0px 4px 10px 0px #bdbdbd;
}

[data-theme="dark"] {
  --c-text-primary: #ffffff;
  --c-primary-light: #f5f5f5;
  --c-button-background: #464646;
  --c-button-background--darkened-light: #3a3a3a;
  --c-button-background--darkened-strong: #222222;
  --c-button-border: #6d6d6d;
  --c-text-inverted: #303030;
  --c-text-inverted--alt: #a5a5a5;
  --c-accent-one: #f8f8f8;
  --c-accent-two: #1B998B;
  --c-accent-three: #FEC80B;
  --c-box: #464646;
  --c-box-darkened: #3f3f3f;
  --c-background-primary: #464646;
  --c-background-inverted: #1f1f1f;
  --bs-md: 0px 4px 24px 0px #242424;
}

$br-md: 10px;

h1 {
  font-family: "Poppins";
  font-size: $space-lg;
  font-weight: 700;
}

html {
  font-family: 'Poppins';
  color: var(--c-primary-light);
  box-sizing: border-box;
  font-size: $font-md;
  height: 100%;
  background-color: var(--c-background-primary);
}

body {
  height: 100%;
  margin: 0;
}

.box {
  background-color: var(--c-box);
  box-shadow: var(--bs-md);
  border-radius: $br-md;
  box-sizing: border-box;  
}

@media (min-width: 700px) and (min-height: 600px) {
  .box--desktop {
    background-color: var(--c-box);
    box-shadow: var(--bs-md);
    border-radius: $br-md;
    box-sizing: border-box;  
  }
}

a {
  text-decoration: none;
  color: var(--c-primary-light)
}


.loader {
  -webkit-animation: infiniteRotate 2s linear infinite;
  animation: infiniteRotate 2s linear infinite;
  padding: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes infinite-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Standard syntax */
@keyframes infinite-blur-change {
  0% {
    filter: blur($space-ssm);
  }
  50% {
    filter: blur($space-sm);
  }
  100% {
    filter: blur($space-ssm);
  }
}

.apexcharts-title-text {
  fill: var(--c-text-primary);
}

.apexcharts-text {
  fill: var(--c-text-primary);
}

.apexcharts-legend-text {
  color: var(--c-text-primary) !important;
}

.apexcharts-legend-marker {
  border-width: 1px !important;
  border-color: var(--c-button-border) !important;
}

.apexcharts-menu-icon {
  svg {
    fill: var(--c-button-border) !important;
  }
}
