$space-elg: 64px;
$space-slg: 48px;
$space-lg: 32px;
$space-md: 24px;
$space-sm: 12px;
$space-ssm: 8px;

$font-lg: 24px;
$font-md: 16px;
$font-sm: 12px;
$font-ssm: $space-ssm;

$c-text-primary: #564E58;
$c-button-background: #e9e9ed;
$c-button-border: #d6d6d6;
$c-text-inverted: #ffffff;
$c-accent-one: #3D5A80;
$c-accent-two: #1B998B;
$c-box: #ffffff;
$c-primary-light: rgba($c-text-primary, 0.2);

$br-md: 10px;

$bs-md: 0px 4px 24px 0px rgba($c-text-primary, 0.4);

h1 {
  font-family: "Poppins";
  font-size: $space-lg;
  font-weight: 700;
}

html {
  font-family: 'Poppins';
  color: $c-text-primary;
  box-sizing: border-box;
  font-size: $font-md;
}

.box {
  background-color: $c-box;
  box-shadow: $bs-md;
  border-radius: $br-md;
  box-sizing: border-box;  
}

@media (min-width: 700px) and (min-height: 600px) {
  .box--desktop {
    background-color: $c-box;
    box-shadow: $bs-md;
    border-radius: $br-md;
    box-sizing: border-box;  
  }
}

a {
  text-decoration: none;
  color: $c-text-primary
}


.loader {
  -webkit-animation: infiniteRotate 2s linear infinite;
  animation: infiniteRotate 2s linear infinite;
  padding: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes infiniteRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes infinite-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Standard syntax */
@keyframes infinite-blur-change {
  0% {
    filter: blur($space-ssm);
  }
  50% {
    filter: blur($space-sm);
  }
  100% {
    filter: blur($space-ssm);
  }
}
